main {
    width: 30em;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;
    margin: auto;
}

form {
    clear: both;
}

input {
    width: auto;
    clear: both;
}

article {
    border: 1px solid black;
    padding: 1em;
}

.text-wrapper {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
